@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

::-webkit-scrollbar-track
{
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #5e6376;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}

body {
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 20px 0;
    color: white;
}

.container {
    width: 90%;
    background: #444753;
    border-radius: 5px;
}

.chat-list {
    width: 20%;
    height: 100%;
    float: left;
    background: #ccd0e0;
    border-radius: 5px;
    margin: 10px;
    margin-right: 0px;
    color: #434651;
    display: flex;
    flex-direction: column;
}

.newMessageIndicator {
    visibility: hidden;
  }

.chat-list .search {
    padding: 20px;
}

.chat-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    margin-bottom: 14px;
    color: #6c6c6c;
    background: #ffffff;
    width: 90%;
    font-size: 14px;
}

.chat-list .fa-search {
    position: relative;
    left: -25px;
}

.chat-list ul {
    margin: 5px;
    padding: 5px;
}

.chat-list-container {
	overflow-y: auto;
}

.chat-list .chat-tile {
    cursor: pointer;
    padding: 10px;
    background-color: #787f9b;
    color: #ffffff;
    border-radius: 5px;
    margin: 2px;
    word-break: break-word;
}

.chat-list img {
    float: left;
}

.chat-list .about {
    float: left;
    margin-top: 8px;
}

.chat-list .about {
    padding-left: 8px;
}

.chat-list .status {
    color: #92959E;
}

.chat {
    display: none;
    width: 75%;
    height: 100%;
    float: right;
    background: #ccd0e0;
    border-radius: 5px;
    margin: 10px;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    font-weight: bold;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#upload {
    height: 45px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    height: 50%;
    float: left;
	overflow-y: auto;
	margin-bottom: 25px;
    width: 100%;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 65%;
    position: relative;
    word-break: break-word;
}

.chat .chat-history .message .image-holder img {
    width: 100%;
    height: auto;
}

.chat .chat-history .message .file-holder {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #878da6;
    cursor: pointer;
}

.chat .chat-history .my-message {
    background: #787f9b;
}

.chat .chat-history .other-message {
    background: #4b5064;
}

.chat .chat-message {
    padding: 20px;
}

.delete-msg {
    color: black;
    cursor: pointer;
}

.delete-msg:hover {
    cursor: pointer;
    color: rgb(235, 31, 31);
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message #send-btn {
    float: right;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 11px;
    margin-top: 5;
}


.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

