<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Чат</title>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="/css/chat.css" rel="stylesheet">
    <link href="/css/chat_creation.css" rel="stylesheet">
    <link href="/css/chat_search.css" rel="stylesheet">
    <link href="/css/chat_manage.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>

<body>
    <div th:insert="blocks/navbar :: navbar-fragment"></div>

    <div class="container clearfix">
        <div class="chat-list" id="chat-list">
            <div class="search">
                <input id="chatName" placeholder="Search" type="text" />
                <button type="button" class="btn btn-primary btn-block" id="create-chat-btn">Создать
                    чат</button>
                <button type="button" class="btn btn-primary btn-block" id="find-chat-btn">Найти чат</button>
            </div>
            <div class="chat-list-container">
                <ul id="chat-list-ul"></ul>
            </div>
        </div>

        <div class="chat" id="chat-box">
            <!-- Заголовок -->
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with" id="chat-title"></div>
                    <div class="chat-num-messages"></div>
                </div>
                <button class="btn btn-dark float-right" id="manage-btn">Управление</button>
            </div>

            <!-- Сообщения -->
            <div class="chat-history">
                <ul id="msg-list-ul"></ul>
            </div>

            <!-- Текст -->
            <div class="chat-message clearfix">
                <textarea class="form-control" id="message-to-send" name="message-to-send"
                    placeholder="Введите сообщение..." rows="3"></textarea>
                <input class="form-control" type="file" id="upload">
                <button type="button" class="btn btn-primary" id="send-btn">Отправить</button>
            </div>
        </div>
    </div>
    </div>


    <!-- Шаблоны -->
    <script id="my-message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <div class="message-header">
                <span class="message-data-time"> {{time}} </span>
                <a href="/profile/{{username}}">{{username}}</a>
                <span class="delete-msg" id="delete-msg-{{id}}" onclick="deleteMessage('{{id}}')"> X </span>
            </div>
        </div>
        <div class="message my-message float-right">
            {{message}}
            <div class="image-holder" id="image-holder-{{id}}">
                <img src="files/{{imageid}}">
            </div>
            <div class="file-holder" id="file-holder-{{id}}" onclick="location.href='files/{{fileid}}';">
                <img src="images/attachment.png">
                Файл: {{filename}}
            </div>
        </div>
    </li>
    </script>

    <script id="message-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <div class="message-header">
                <a href="/profile/{{username}}">{{username}}</a>
                <span class="message-data-time"> {{time}} </span>
                <span class="delete-msg" id="delete-msg-{{id}}" onclick="deleteMessage('{{id}}')"> X </span>
            </div>
        </div>
        <div class="message other-message">
            {{message}}
            <div class="image-holder" id="image-holder-{{id}}">
                <img src="files/{{imageid}}">
            </div>
            <div class="file-holder" id="file-holder-{{id}}" onclick="location.href='files/{{fileid}}';">
                <img src="images/attachment.png">
                Файл: {{filename}}
            </div>
        </div>
    </li>
    </script>

    <script id="chat-tile-template" type="text/x-handlebars-template">
    <li>
        <div class="chat-tile" id="chat-tile-{{id}}" onclick="selectChat('{{id}}','{{name}}')">
            <div class="chat-name">{{name}}</div>
            <span class="newMessageIndicator"> 🔶 </span>
        </div>
    </li>
    </script>

    <div th:insert="blocks/chat_create :: chat-create-fragment"></div>
    <div th:insert="blocks/chat_search :: chat-search-fragment"></div>
    <div th:insert="blocks/friend_list :: friend-list-fragment"></div>
    <div th:insert="blocks/chat_manage :: chat-manage-fragment"></div>

    <script src="js/messaging.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/file_loader.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>