<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
@font-face {
font-family: Pompadur;
src: url(/example/font/pompadur.eot);
 src: local(pompadur), url(/example/font/pompadur.ttf);
}
h1, h2 {
font-family: Pompadur, 'Comic Sans MS', cursive;
 }
 .fig {
    text-align: center;
 }
</style>
</head>
<body>
<h1 align="center">Упс, кажется, что-то пошло не так! Вернитесь на <a href="http://localhost:8081/profile">главную страницу</a>.</h1>
<h2 align="center">Если Вы продолжаете видеть эту страницу, то не беспокойтесь, разработчикам уже настучали по шапке!</h2>
<p class="fig"><img src="собака.jpg" alt="Кажется, здесь была картинка, хм..."></p>
</body>
</html>