<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <title>Регистрация</title>
      <style>

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 14px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center m-4">Регистрация</h3>
                            <form action="/registration" th:object="${user}" method="POST" enctype="utf8">
                                <div class="form-group">
                                    <label>Имя:</label>
                                    <input class="form-control" name="username" th:field="*{username}" required>
                                    <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input class="form-control" type="email" th:field="*{email}" required>
                                    <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <label>Пароль:</label>
                                    <input class="form-control" type="password" th:field="*{password}"  id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Должно содержать не менее одной цифры и одной прописной 
                                    и строчной буквы, а также не менее 8 и более символов" required>
                                    <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <label>Подтвердите пароль:</label>
                                    <input class="form-control" type="password" th:field="*{passwordConfirm}" required>
                                </div>
                                 <div id="message">
 								 <h4>Пароль должен содержать следующее:</h4>
 								 <p id="letter" class="invalid"><b>Нижний регистр</b> буква</p>
  								 <p id="capital" class="invalid"><b>Заглавная (прописная)</b> буква</p>
 								 <p id="number" class="invalid"><b>Число</b></p>
 								 <p id="length" class="invalid">Минимум<b> 8 символов</b></p>
                                 </div>
                            <div class="d-flex flex-row justify-content-between mt-4">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-md" value="Зарегистрироваться">
                                </div>
                                <div class="mt-2">
                                    <a th:href="@{/login}">Войти</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");


myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}


myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}


myInput.onkeyup = function() {

  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
}


  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }


  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }


  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>
</body>

</html>
