body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}

.navbar, .card {
    box-shadow: 0 1px 2px 0px rgb(145, 145, 145);
}
